@import "tailwindcss";

@font-face {
  font-family: "Arizona Flare";
  src: url("./fonts/ABCArizonaFlare-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Mallory";
  src: url("./fonts/Mallory-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Martina Plantijn";
  src: url("./fonts/martina-plantijn-regular.woff2") format("woff2");
}

@theme {
  --color-cream: #fefcf2;
  --color-textcolor: #544c43;
  --color-primary: #8ea75f;
  --color-alt: #ffb097;
  --color-em: #75cde0;
  --font-title: "Mallory", sans-serif;
  --font-body: "Martina Plantijn", serif;
  --font-flare: "Arizona Flare", serif;
}

p {
  @apply mb-4 leading-loose;
}

a {
  @apply text-primary hover:underline underline-offset-2 decoration-2;
}

a[href^="#"]::before {
  @apply content-['#'] text-primary text-xs font-bold mx-1;
}

h2,
h3,
h4 {
  @apply font-flare mt-12 mb-4;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply font-title uppercase text-sm font-bold;
}

ul {
  @apply mb-4 list-disc list-outside pl-4;
}

ol {
  @apply mb-4 list-decimal list-outside pl-4;
}

ul li,
ol li {
  @apply mb-2;
}

blockquote {
  @apply border-l-4 border-primary sm:pl-4 py-2 italic mb-4;
}

blockquote.comment {
  @apply py-2 italic mb-4 mt-4 border-l-0 flex flex-col sm:flex-row-reverse sm:gap-x-4 gap-y-2;
}

blockquote.comment div {
  @apply flex-shrink-0 text-white uppercase font-bold sm:p-2 w-10 h-10 rounded-full flex items-center justify-center;
}

blockquote.comment div i {
  @apply w-full text-center;
}

blockquote.comment.jamie div {
  @apply bg-alt;
}

blockquote.comment.henry div {
  @apply bg-em;
}

blockquote p {
  @apply mb-2 text-sm;
}

blockquote.comment p {
  @apply sm:text-right;
}

blockquote p:last-child {
  @apply mb-0;
}

figure {
  @apply lg:w-2/3 mx-auto my-12;
}

figure img {
  @apply w-full;
}

figure figcaption {
  @apply italic text-sm mt-2;
}

table {
  @apply w-full border-collapse sm:border border-textcolor;
}

table tr {
  @apply sm:border-b border-textcolor;
}

table tr:last-child {
  @apply border-b-0;
}

table thead tr:last-child {
  @apply border-b border-textcolor;
}

table td,
table th {
  @apply sm:p-2 text-sm sm:border-r border-textcolor;
}

table th p,
table td p {
  @apply m-0;
}

table th {
  @apply font-title uppercase text-left sm:text-center;
}

table td:last-child,
table th:last-child {
  @apply border-r-0;
}

table td:first-child,
table th:first-child {
  @apply border-l-0;
}

table.c43 tr td:nth-child(2),
table.c43 tr th:nth-child(2),
table.c43 tr td:nth-child(4),
table.c43 tr th:nth-child(4) {
  @apply hidden sm:table-cell;
}
