@import "tailwindcss";

@font-face {
  font-family: "Arizona Flare";
  src: url("./fonts/ABCArizonaFlare-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Mallory";
  src: url("./fonts/Mallory-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Martina Plantijn";
  src: url("./fonts/martina-plantijn-regular.woff2") format("woff2");
}

@theme {
  --color-cream: #fefcf2;
  --color-textcolor: #544c43;
  --color-primary: #8ea75f;
  --color-alt: #ffb097;
  --font-title: "Mallory", sans-serif;
  --font-body: "Martina Plantijn", serif;
  --font-flare: "Arizona Flare", serif;
}

p {
  @apply mb-4 leading-loose;
}

a {
  @apply text-primary hover:underline underline-offset-2 decoration-2;
}

a[href^="#"]::before {
  @apply content-['#'] text-primary text-xs font-bold mx-1;
}

h2,
h3,
h4 {
  @apply font-flare mt-12 mb-4;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply font-title uppercase text-sm font-bold;
}

ul {
  @apply mb-4 list-disc list-inside pl-4;
}

ol {
  @apply mb-4 list-decimal list-inside pl-4;
}

blockquote {
  @apply border-l-4 border-alt pl-4 py-2 italic mb-4;
}

blockquote.comment {
  @apply border-r-4 border-alt pr-4 py-2 italic mb-4 mt-4 text-right border-l-0;
}

blockquote p {
  @apply mb-2 text-sm;
}

blockquote p:last-child {
  @apply mb-0;
}
