@import "tailwindcss";

@font-face {
  font-family: "Arizona Flare";
  src: url("./fonts/ABCArizonaFlare-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Mallory";
  src: url("./fonts/Mallory-Book.woff2") format("woff2");
}

@font-face {
  font-family: "Martina Plantijn";
  src: url("./fonts/martina-plantijn-regular.woff2") format("woff2");
}

@theme {
  --color-cream: #fefcf2;
  --color-textcolor: #544c43;
  --color-primary: #8ea75f;
  --color-alt: #ffb097;
  --font-title: "Mallory", sans-serif;
  --font-body: "Martina Plantijn", serif;
  --font-flare: "Arizona Flare", serif;
}

p {
  @apply mb-4 leading-relaxed;
}

a {
  @apply text-primary hover:underline underline-offset-2 decoration-2;
}

h2,
h3,
h4,
h5,
h6 {
  @apply font-flare mt-8 mb-4;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base font-bold;
}

ul {
  @apply mb-4 list-disc list-inside;
}

ol {
  @apply mb-4 list-decimal list-inside;
}
